@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

*{
  margin: 0px;
}

.cover{
  width: 100%;
  /* height:100%; */
  display: grid;
  grid-row-end: span 2;
  grid-column-end: span 2;
  border: #65a18c solid;
  /* border-radius: 12px; */
}

.content{
  border: solid;
  /* border-radius: 12px; */
  display: grid;
  grid-column-end: span 2;
  grid-row-end: span 2;
  align-content: center;
  font-family: 'Neucha', cursive;
  font-size: 1.3rem;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 1;
}

body{
  margin-top: 1rem;
  background-image: url(11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

a{
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  text-decoration: none;
  color: #65a18c;
}

.links{
  text-decoration: none;
  color: #65a18c;
  padding: 0px;
  margin: 0px;
  display: inline;
}

p{
  margin: 5px;
  opacity: 1;
}

button{
  border: solid;
  font-family: 'Neucha', cursive;
  font-size: 3rem;
  /* border-radius: 12px; */
}

#b1:hover{
  background-color: #fff4b0 ;
  opacity: 1;
}

#b2:hover{
  background-color: #fff4b0 ;
  opacity: 1;
}

#b3:hover{
  background-color: #fff4b0 ;
  opacity: 1;
}

#b4:hover{
  background-color: #fff4b0 ;
  opacity: 1;
}

h1{
  text-align: center;
  color: #65a18c;
  font-family: 'Neucha', cursive;
  font-size: 4rem;
}

#b2, #c2{
  background-color: #fcbcb4;
  border-color:#cc8076;
  color: #cc8076;
}

#b3, #c3{
  background-color: #fcdcc4;
  border-color: #c7a083;
  color:#c7a083;
}

#b4, #c4{
  background-color: #e4eccc;
  border-color: #aeba88;
  color: #aeba88;
}

#b1, #c1{
  background-color: #fca4a4;
  border-color: #ad6666;
  color: #ad6666;
}

#b1, #b2, #b3, #b4{
  opacity: 0.7;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fca4a4;
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  font-family: 'Neucha', cursive;
}

.popup:hover{
  color: #fff4b0 ;
}

a:hover{
  color: #fff4b0 ;
}

.popuptext{
  font-size: 1.3rem;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #fca4a4;
  color: #ad6666;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: -50%;
  margin-left: -80px;
  opacity: 0.9;
}

.popup > p {
  text-align: center;
}

.popuptextC{
  visibility: hidden;
  width: 500px;
  background-color: #fcdcc4;
  color:#c7a083;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -30vmin;
  left: -50%;
  margin-left: -80px;
  opacity: 0.9;
}

.content > .popup:hover{
  color: #fff4b0 ;
}

.content > .popup{
  background-color: #fcdcc4;
  color:#c7a083;
  opacity: 1;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.9;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:0.9 ;}
}

@media only screen and (min-width : 600px) {
  #grid{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr);}
  .popuptextC{left:20%;}
  .popuptext{left:20%;}
  a{grid-column-end: span 2; grid-row-end: span 2;}
}

@media only screen and (min-width:992px){
  #grid{grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 1fr);}
  .popuptextC{left:-50%;}
  .popuptext{left:-50%;}
  a{grid-column-end: span 1; grid-row-end: span 1;}
}
